<div class="container flex-grow-1">
    <div class="row">
        <div class="col-12 text-center my-4">
          <app-typewriter></app-typewriter>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let card of lastThreeAssessments">
            <div class="card mb-4">
                <img class="card-img-top" [src]="card.assessmentImage" [alt]="card.assessmentName" width="350px"
                    height="250px">
                    <div class="card-body" [ngClass]="{ 'inactive-card': !card.active }" style="text-align: center;">
                        <div class="card-title-wrapper">
                          <h5 class="card-title">{{ card.assessmentName }}</h5>
                        </div>
                          <div class="small-rating">
                            <p-rating [(ngModel)]="card.rating" [iconOnStyle]="{'color':'green'}" [readonly]="true" [cancel]="false"></p-rating>
                          </div>
                        <p class="card-text">{{ card.assessmentDescription | showStartingWords:10 }}</p>
                        <button class="btn btn-outline-primary" style="margin-right: 20px;" (click)="displayDetails(card.id)">View Details</button>
                        <button [disabled]="!card.active" class="btn btn-outline-secondary" (click)="AddToCart(card)">Add to Cart</button>
                      </div>


            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 text-center">
            <a [routerLink]="['/assessments']" class="btn btn-primary">View More</a>
        </div>
    </div>
</div>
