.card-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }
  
  .small-rating .p-rating {
    width: 2px;
  }
  