<div class="container-fluid my-3">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 table-hover " matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>
  
        <!-- Assessment Name Column -->
        <ng-container matColumnDef="assessmentName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.assessmentName }} </td>
        </ng-container>
  
        <!-- Assessment Date Column -->
        <ng-container matColumnDef="assessmentDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment Date </th>
          <td mat-cell *matCellDef="let element"> {{ element.assessmentDate }} </td>
        </ng-container>
  
        <!-- Total Marks Column -->
        <ng-container matColumnDef="totalMarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Marks </th>
          <td mat-cell *matCellDef="let element"> {{ element.totalMarks }} </td>
        </ng-container>
  
        <!-- Faculty ID Column -->
        <ng-container matColumnDef="facultyId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Faculty ID </th>
          <td mat-cell *matCellDef="let element"> {{ element.facultyId }} </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.active" class="badge badge-primary">Active</span>
              <span *ngIf="!element.active" class="badge badge-secondary">Inactive</span>
            </td>
          </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="download(element)">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleRow(element)">
              <mat-icon>{{ expandedElement === element ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!-- Expanded Content Column -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <mat-list *ngIf="expandedElement === element">
                <mat-list-item *ngFor="let question of element.questions">Q{{question.id}}:{{ question.questionText }}</mat-list-item>
              </mat-list>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons>
  </mat-paginator>
    </div>
  </div>
  