<div class="container card-body card shadow mt-5 table-responsive mt-3">
    <table class="table table-bordered text-center" style="border-color: rgb(154, 153, 153);">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Category Name</th>
                <th scope="col">Category Description</th>
        </thead>
        <tbody id="user-table-body">
            <tr div *ngFor="let c of arrCategory">
                <td scope="col">{{c.id}}</td>
                <td scope="col">{{c.categoryName}}</td>
                <td scope="col">{{c.categoryDescription}}</td>
            </tr> 
        </tbody>
    </table>
</div>