<div class="container flex-grow-1 my-4">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne" style="font-weight: bold;">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <b>Krupesh Bhat | Founder</b>
                </button>
            </h2>

            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="background-color: azure;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/founder.png" class="card-img-top" alt="Izzy" width="100%"
                                height="auto">
                        </div>
                        <div class="col-md-8">
                            Tech entrepreneur with a passion for product and marketing, having 20+ years of
                            extensive industry experience. Built & scaled HomeWarrantyReviews.com &
                            LegalDesk.com; the most popular home warranty reviews website in the USA, and
                            India's #1 DIY legal documentation platform, respectively. MBA from the University
                            of Maryland, Gold Medalist from Kuvempu university.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo" style="font-weight: bold;">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>Ashok Kadsur | Co-Founder</b>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="background-color: azure;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/cofounder.png" class="card-img-top" alt="Izzy" width="100%"
                                height="auto">
                        </div>
                        <div class="col-md-8">
                            20+ years experience in sales, business development & marketing. Previously
                            associated with Vodafone. Planned & executed launch strategies in various markets,
                            and was deeply involved with teams in healthcare, telecom & business consulting
                            sectors with a focus on automation. Currently heading business development,
                            strategic planning & operations at SignDesk.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree" style="font-weight: bold;">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b>Kiran HN | CTO</b>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="background-color: azure;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/dummy.jpeg" class="card-img-top" alt="Izzy" width="100%"
                                height="auto">
                        </div>
                        <div class="col-md-8">
                            22+ years experience in enterprise tech, business intelligence, digital
                            transformation & product leadership. MBA from San Jose State University, certified
                            in entrepreneurship & innovation from Stanford. Previously developed & executed
                            omni-channel digital strategies, and delivered customer-centric products at
                            Stanford Medicine, San Disk, Broadcom, NTT Data & Keane.
                            Currently heads technology &
                            innovation at Sign Desk
                            as chief technology
                            officer.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour" style="font-weight: bold;">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <b>Gururaj Shetty | Head of Product Engineering</b>
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="background-color: azure;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/dummy.jpeg" class="card-img-top" alt="Izzy" width="100%"
                                height="auto">
                        </div>
                        <div class="col-md-8">
                            14+ years experience in cutting- edge software domains with
                            specialization in SaaS & PaaS
                            model architecture and
                            implementation. Began in the
                            software services sector,
                            concentrating on european
                            markets, and held successive tech leadership positions in Indian
                            start-ups. Currently oversees the tech infrastructure and
                            development team at Sign Desk
                            with the goal of building another domestic unicorn.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>